{% extends "base.html" %}

{% block content %}

<body>
    <div class="columns-center">
        <div class="hero is-fullheight">
            <div class="hero-body is-justify-content-center is-align-items-center">
                <div class="columns is-flex is-flex-direction-column box">
                    {% if error %}
                        <div class="message is-danger" role="alert">
                            <div class="message-body">
                                {{ error }}
                            </div>
                        </div>
                    {% endif %}
                    <form id="LogInform" method="POST" action="{% url 'loginuser' %}">
                        {% csrf_token %} 
                        <div class="column">
                            <label for="username">Username</label>
                            <input class="input is-primary" id='username' name="username" type="text" placeholder="Username">
                        </div>
                        <div class="column">
                            <label for="Name">Password</label>
                            <input class="input is-primary" id="password" name="password" type="password" placeholder="Password">
                        </div>
                        <div class="column">
                            <button class="button is-primary is-fullwidth" type="submit">Login</button>
                        </div>
                        <div class="has-text-centered">
                            <p class="is-size-7"> Don't have an account? <a href="{% url 'signupuser' %}" class="has-text-primary">Sign up</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock content %}
